<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Nordic Fleet</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Nordic Motorhomes</li>
        <li><a href="/fleet">Fleet</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/repairs">Repairs</a></li>
        <li id="logout"><a href="/logout" th:text="'Logout: ' + ${session.user.username}" th:unless="${session.user == null}">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1> List of motorhomes</h1>
    <a href="/add_motorhome" class="button">Add new motorhome</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Capacity</th>
            <th>License Plate</th>
            <th>Status</th>
            <th>Base Price</th>
            <th></th>

        </tr>
        </thead>

        <tbody>
        <tr>
        <tr th:each = "motorhome: ${motorhomes}">
            <td th:text="${motorhome.motorhomeId}"></td>
            <td th:text="${motorhome.motorhomeDescription.brand}"></td>
            <td th:text="${motorhome.motorhomeDescription.model}"></td>
            <td th:text="${motorhome.motorhomeDescription.capacity}"></td>
            <td th:text="${motorhome.licencePlate}"></td>
            <td th:text="${motorhome.motorhomeStatus}"></td>
            <td th:text="${motorhome.motorhomeDescription.basePrice}"></td>
            <td>
                <a th:href="'/update_motorhome?motorhome_id=' + ${motorhome.motorhomeId}" class="button button-update">Update</a>
                <a class="button button-delete" th:href="'/delete_motorhome?motorhome_id=' + ${motorhome.motorhomeId}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>