<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reservations</title>

</head>
<body>
<form method="post" action="/save_accessories">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "accessory: ${accessories}">

            <td th:text="${accessory.name}"></td>

            <td th:text="${accessory.price}"></td>
            <td><input type="number" name="quantities[]" value="0" /></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" name="Continue" />
</form>
</body>
</html>