<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css"/>
    <title>Available Motorhomes</title>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Nordic Motorhomes</li>
        <li><a href="/fleet">Fleet</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/repairs">Repairs</a></li>
    </ul>
</nav>
<div class="container">
<table>
    <thead>
        <tr>
            <th>Motorhome ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Capacity</th>
            <th>Base Price</th>
        </tr>
        </thead>

    <tbody>
        <tr th:each = "motorhome: ${motorhomes}">
            <td th:text="${motorhome.motorhomeId}"></td>
            <td th:text="${motorhome.motorhomeDescription.brand}"></td>
            <td th:text="${motorhome.motorhomeDescription.model}"></td>
            <td th:text="${motorhome.motorhomeDescription.capacity}"></td>
            <td th:text="${motorhome.motorhomeDescription.basePrice}"></td>
            <td><a th:href="'/save_motorhome?motorhome_id=' + ${motorhome.motorhomeId}" class="button">Choose</a></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>