<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guest</title>
    <link rel="stylesheet" href="gueststyle.css"/>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Nordic Motorhomes</li>
        <li><a href="/fleet">Fleet</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/repairs">Repairs</a></li>
    </ul>
</nav>
    <div>
        <a href="/" class="button">Back</a>
    </div>
    <p>
        Page is still under development! We will be online soon!
    </p>
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/97873-200.png"/>
</body>
</html>