<!DOCTYPE html>
<!-- @AlexandraCaragata -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Customers</title>
    <link rel="stylesheet" href="tablestyle.css"/>
    <link rel="stylesheet" href="navbarstyle.css"/>

</head>
<body>
<nav>
    <ul>
        <li class="logo">Nordic Motorhomes</li>
        <li><a href="/fleet">Fleet</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/repairs">Repairs</a></li>
        <li id="logout"><a href="/logout" th:text="'Logout: ' + ${session.user.username}" th:unless="${session.user == null}">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1> List of customers</h1>
    <a class="button" href="/new_customer">Add new customer</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <th>Driving licence number</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="customers: ${customers}">
            <td th:text="${customers.customerId}"></td>
            <td th:text="${customers.customerName}"></td>
            <td th:text="${customers.drivingLicenceNr}"></td>
            <td><a class="button button-update" th:href="'update_customer?customerId=' + ${customers.customerId}">Update</a>
                <a class="button button-delete" th:href="'delete_customer?customerId=' + ${customers.customerId}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>