<!DOCTYPE html>
<!-- @AlexandraCaragata -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="navbarstyle.css"/>
    <link rel="stylesheet" href="formstyle.css"/>
</head>
<body>
<nav>
    <ul>
        <li class="logo">Nordic Motorhomes</li>
        <li><a href="fleet">Fleet</a></li>
        <li><a href="reservations">Reservations</a></li>
        <li><a href="customers">Customers</a></li>
        <li><a href="repairs">Repairs</a></li>
    </ul>
</nav>
<h1>Are you sure you want to delete?</h1>
<h2 th:text="'Customer:' + ' '+ ${customer.customerName}"></h2>

<form action="/delete_customer" method="post">
    <input type="hidden" th:field="${customer.customerId}" />
    <input type="submit" value="YES" class="delete"/>
    <input type="submit" value="NO" formmethod="get" formaction="/customer">
</form>

</body>
</html>