<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/save_transport" method="post">

    <p>Drop-off</p>
    <p>Distance</p>
    <input type="text" name="dropoff_distance" />
    <p>Location</p>
    <input type="text" name="dropoff_location" />
    <p>Pick-up</p>
    <p>Distance</p>
    <input type="text" name="pickup_distance" />
    <p>Location</p>
    <input type="text" name="pickup_location" />
    <p>
        <input type="submit" value="Continue" class="btn btn-create"/>
    </p>
</form>
</body>
</html>